params {
    inputDir = "/home/mzaz021/BIDSProject/sourcecode/IRTG01" // مسیر داده‌های DICOM
    bidsDir = "/home/mzaz021/BIDSProject/combined4Description/bids_output" // مسیر خروجی BIDS
    outputDir = "/home/mzaz021/BIDSProject/combined4Description" // مسیر خروجی نهایی
    configFile = "/home/mzaz021/BIDSProject/code/configPHASEDIFF_B0identifier.json"
    containerPath_dcm2bids = "/home/mzaz021/dcm2bids_3.2.0.sif"
    singularity_image = "/home/mzaz021/validator_latest.sif"
    containerPath_pydeface = "/home/mzaz021/pydeface_latest.sif"
    containerPath_mriqc = "/home/mzaz021/mriqc_24.0.2.sif"
    containerPath_fmriprep = "/home/mzaz021/fmriprep_latest.sif"
    FS_LICENSE = "/home/mzaz021/freesurfer/license.txt"
    datasetDescription = "/home/mzaz021/dataset_description.json"
    bidsValidatorLogs = "${params.outputDir}/bidsValidatorLogs"
    defacedOutputDir = "${params.outputDir}/defaced"
    mriqcOutputDir = "${params.outputDir}/mriQC"
    fmriprepOutputDir = "${params.outputDir}/fmriprep"
    workdir = '/home/mzaz021/BIDSProject/work'
    participantList = [] // لیست شرکت‌کنندگان (اختیاری)
}

process.executor = 'local' // یا slurm برای خوشه‌ها
process.container = 'singularity'
